@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-base-100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.required::after {
  content: "*";
  color: red;
  @apply ml-1;
}

.zindex {
  z-index: 9999 !important;
}

[data-theme="dark"] .sun-editor-dark-mode .se-container {
  background-color: #191e24 !important;
  color: #fff !important;
  border-color: #191e24 !important;
}

[data-theme="dark"] .sun-editor-dark-mode .se-toolbar {
  background-color: #191e24 !important;
  color: #fff !important;
  border-color: #191e24 !important;
  @apply outline-gray-600;
}

[data-theme="dark"] .sun-editor-dark-mode .se-toolbar .se-btn-module-border {
  @apply outline-gray-600 border-gray-600;
}

[data-theme="dark"] .sun-editor-dark-mode .se-resizing-bar {
  outline: 1px solid #4b5563 !important;
  @apply bg-base-100 border-none;
}

[data-theme="dark"] .sun-editor-dark-mode .se-toolbar button {
  background-color: #191e24 !important;
  color: #fff !important;
  border-color: #191e24 !important;
  @apply outline-gray-600;
}

[data-theme="dark"] .sun-editor-dark-mode .se-wrapper,
[data-theme="dark"] .sun-editor-dark-mode .se-wrapper-inner {
  background-color: var(
    --fallback-b1,
    oklch(var(--b1) / var(--tw-bg-opacity))
  ) !important;
  color: #fff !important;
  border-color: #191e24 !important;
  outline: 1px solid #4b5563 !important;
}

[data-theme="dark"] .sun-editor-dark-mode .se-wrapper .se-placeholder::after {
}

@layer components {
  /* .my-react-select-container {
  } */
  .my-react-select-container .my-react-select__control {
    @apply bg-white dark:bg-neutral-700 border-2 border-neutral-300 dark:border-neutral-700 hover:border-neutral-400 dark:hover:border-neutral-500;
  }

  .my-react-select-container .my-react-select__control--is-focused {
    @apply border-neutral-500 hover:border-neutral-500 dark:border-neutral-400 dark:hover:border-neutral-400 shadow-none;
  }

  .my-react-select-container .my-react-select__menu {
    @apply bg-neutral-100 dark:bg-neutral-700 border-2 border-neutral-300 dark:border-neutral-600;
  }

  .my-react-select-container .my-react-select__option {
    @apply text-neutral-600 dark:text-neutral-200 bg-neutral-100 hover:bg-neutral-200 dark:bg-neutral-700 dark:hover:bg-neutral-800;
  }
  /* .my-react-select-container .my-react-select__option--is-focused {
    @apply bg-neutral-200 dark:bg-neutral-800;
  } */

  .my-react-select-container .my-react-select__indicator-separator {
    @apply bg-neutral-400;
  }

  .my-react-select-container .my-react-select__input-container,
  .my-react-select-container .my-react-select__placeholder,
  .my-react-select-container .my-react-select__single-value {
    @apply text-neutral-600 dark:text-neutral-200;
  }
}

.loading-indicator:before {
  content: "";
  background: #00000080;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loading-indicator:after {
  content: " ";
  position: fixed;
  top: 40%;
  left: 45%;
  z-index: 10010;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #0474bf; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
